html {
  height: 100%;
  width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

canvas {
  background-color: green;
  height: 50%;
  width: 100%;
}

#zoomfield {
  height: 100%;
  width: 100%;
  border: 0px solid black;
  margin: 0px;
  background-color: black;
  display: flex;
}

div {
  width: 100%;
  height: 100%;
}
