html {
  height: 100%;
  width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

#contentDiv {
  height: 100%;
  width: 100%;
  display: flex;
}

*:last-child {
}

div {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid black;
}

.otherDiv {
  flex-shrink: 1.618033;
}

.div2 {
}
